html {
  font-family: "Open Sans", sans-serif;
  color:rgb(7, 8, 6)
}

li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  color:#286aa8
}

html {
  background-color: red;
}

.topNav{
  background-color: #286aa8;
  text-align: center;
  margin: 20px;
  border: 20px;
}

.topNav a {
  color: white;
  text-decoration: none;
  background-color: #286aa8;
  text-align: center;
  font-size: 20px;
  margin-right: 30px;
}

.topNav a:hover {
  text-decoration:none
  background-color: #28a8a2;
  color: black !important;
}

.topNav a:visited {
  text-decoration: none;
  color: aliceblue;
}

h2 {
  font-size:30px;
  text-align: center;
  color:white;
  background-color: #286aa8;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(10, 2, 2);
}

img {
  display: block;
  margin: 0 auto;
  width: 100%; height: auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container img {
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
  }
  
p {
    font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

/*--------------About-----------*/

.aboutOwner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightgrey;
}

.aboutOwnerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutOwner h2 {
  margin-bottom: 20px;
  background-color: #286aa8;
  width: 25%;
}

.aboutOwner p {
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

#owner{
  max-width: 33%;
  max-height: 33%;
  margin-right: 50px;
}

/*--------------Services-----------*/

#majestic{
  font-size: 20px;
}